.footer {
  background-color: #778da9;
  color: white;
  width: 100%;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.3);
}

.newdiv {
  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 justify-content: center;
  align-items: center;
  width: 100%;
  
}

/* Varje sektion (ikon + text) */
.footerSection {
  
  width: 19vh;
  text-align: left;
  

}


.footerSection h4 {
  font-weight: bold;
  
  margin-bottom: 0.5rem;
}

.footerSection p,
.footerSection a {
  
  margin: 0;
  color: white;
  text-decoration: none;
}

/* Blå accent på länkar */
.footerSection a:hover {
  color: #00bfff;
}

/* Horisontell linje */
hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, white, transparent);
  width: 80%;
  margin: 2rem auto;
}


/* Copyright längst ner */
.copyright {
  text-align: center;
  font-size: 14px;
  padding: 1vh;
  color: white;
}
.contactLink{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.contactLink:hover{
  color: #79baff;
 
}
/* Desktop-layout */
@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
  }

  .footerSection {
    text-align: right;
  }

  .newsletterInput {
    text-align: right;
  }
  .footerSection {
    text-align: left;
    padding: 3vh;
  }
  
  .footerSection h4 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  .footerSection p,
  .footerSection a {
    text-align: left;
    margin: 0;
    color: white;
    text-decoration: none;
  }
}
